@import (reference) '../common.less';

.view-product {
  .product-nav {
    width: 100%;
    min-height: 138px;
    background: #f5f5f5;
    box-sizing: border-box;
    .nav-container {
      position: relative;
      width: 70%;
      margin-left: auto;
      margin-right: auto;

      .iphone5Screen({
        width: 80%;
      });
    }

    .nav-unit {
      position: relative;
      height: 138px;
      cursor: pointer;
      .nav-icon {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        top: 40%;
        transform: translateY(-50%);
      }
      .nav-text {
        position: absolute;
        width: 100%;
        bottom: 24px;
        font-family:PingFangSC-Regular;
        font-size:14px;
        color:#333333;
        text-align:center;
        white-space: nowrap;
      }
    }
    .generate-icons(6);
    .generate-icons(@n, @i: 1) when (@i =< @n) {
      .icon-product-nav-@{i} {
        .background('views/product/icon-product-nav-@{i}.png');
        width: 100%;
        height: 0;
      }
      .generate-icons(@n, (@i + 1));
    }
    .icon-product-nav-1 {
      width: 43px;
      height: 43px;
    }
    .icon-product-nav-2 {
      width: 31px;
      height: 44px;
    }
    .icon-product-nav-3 {
      width: 50px;
      height: 33px;
    }
    .icon-product-nav-4 {
      width: 28px;
      height: 37px;
    }
    .icon-product-nav-5 {
      width: 40px;
      height: 33px;
    }
    .icon-product-nav-6 {
      width: 41px;
      height: 43px;
    }

  }
}

.view-product {
  // common styles
  .product-panel {
    position: relative;
    width: 100%;
    min-height: 600px;
    box-sizing: border-box;
    overflow: hidden;

    .left-panel {
      height: 600px;
      .narrowerThanSmall({
        height: auto;
      });
    }

    .right-panel {
      height: 600px;
      .narrowerThanSmall({
        height: auto;
      });
    }

    .product-title {
      font-family:PingFangSC-Semibold;
      font-size:36px;
      color:#333333;
    }
    .product-sub-title {
      font-family:PingFangSC-Regular;
      font-size:24px;
      color:#333333;
    }
    .product-desc {
      font-family:HiraKakuPro-W3;
      font-size:14px;
      color:#999999;
      overflow-wrap: break-word;
      text-align: left;
    }

    .panel-img {
      .narrowerThanSmall({
        display: block;
        position: relative;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
      });
    }
  }

  // Product 1
  .product-1-bosaidong {
    // text
    .text-container {
      position: relative;
      top: 29%;
      width: 310px;
      float: right;
      margin-right: 15%;
      .narrowerThanSmall({
        float: none;
        width: 90%;
        top: 0;
        padding-top: 20%;
        margin-left: auto;
        margin-right: auto;
      });

      .product-desc {
        margin-top: 20px;
      }
    }

    // image
    .img-container {
      position: relative;
      top: 18%;
      padding-bottom: 10%;
      .narrowerThanSmall({
        padding-top: 10%;
        top: 0;
      });
    }
  }

  // product 2 智策
  .product-2-zhice {
    .text-container {
      position: absolute;
      max-width: 371px;
      min-height: 245px;
      background:rgba(0,0,0,0.4);
      right: 28.6%;
      top: 36.6%;
      box-sizing: border-box;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      z-index: 1000;
      .product-title {
        color: #ffffff !important;
        .narrowerThanSmall({
          color: #333333 !important;
        });
      }
      .product-sub-title {
        color: #ffffff !important;
        .narrowerThanSmall({
          color: #333333 !important;
        });
      }
      .product-desc {
        color: #ffffff !important;
        margin-top: 20px;
        .narrowerThanSmall({
          color: #999999 !important;
        });
      }

      .narrowerThanSmall({
        position: relative;
        width: 90%;
        max-width: 100%;
        right: 0;
        top: 0;
        padding: 0;
        background: none;
        padding-top: 20%;
        margin-left: auto;
        margin-right: auto;
      });
      
    }

    .img-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      .backgroundCover('views/product/img-product-bg-2.png');
      width: 942px;
      height: 461px;
      z-index: 0;

      .narrowerThanSmall({
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        background-image: none;
        background-image: none;
        padding-bottom: 10%;
        padding-top: 10%;
        width: auto;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        background-image: none;
      });
    }
  }

  // Product 3
  .product-3-zhiyan {
    .text-container {
      position: relative;
      float: right;
      top: 26%;
      width: 310px;
      margin-right: 15%;

      .narrowerThanSmall({
        float: none;
        width: 90%;
        top: 0;
        padding-top: 20%;
        margin-left: auto;
        margin-right: auto;
      });
      .product-desc {
        margin-top: 20px;
      }
    }

    // image
    .img-container {
      position: relative;
      top: 13%;
      padding-bottom: 10%;
      .narrowerThanSmall({
        margin-top: 10%;
        top: 0;
      });
    }
  }

  // 尚策云
  .product-4-shangceyun {
    .text-container {
      position: absolute;
      right: 20%;
      top: 30.6%;
      width: 377px;
      z-index: 100;
      text-shadow: 0px 0px 8px rgba(255,255,255,0.3);

      .narrowerThanSmall({
        position: relative;
        width: 90%;
        left: 0;
        top: 0;
        padding-top: 20%;
        margin-left: auto;
        margin-right: auto;
      });
      
      .product-desc {
        margin-top: 20px;
      }
    }
    .img-container {
      position: absolute;
      top: 0;
      left: 0;
      .backgroundCover('views/product/img-product-bg-4.png');
      width: 100%;
      height: 100%;
      z-index: 0;

      .narrowerThanSmall({
        position: relative;
        top: 0;
        background-image: none;
        padding-bottom: 10%;
        padding-top: 10%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        background-image: none;
      });
    }

  }
  .product-5-zhixu {
    .text-container {
      position: relative;
      float: right;
      top: 30%;
      margin-right: 15%;
      width: 310px;
      
      .narrowerThanSmall({
        float: none;
        width: 90%;
        margin-top: 20%;
        top: 0;
        margin-left: auto;
        margin-right: auto;
      });

      .product-desc {
        margin-top: 20px;
      }
    }

    // image
    .img-container {
      position: relative;
      top: 15.5%;
      padding-bottom: 10%;
      .narrowerThanSmall({
        margin-top: 10%;
        top: 0;
      });
    }
  }
  .product-6-zhiyue {
    .text-container {
      position: absolute;
      max-width: 353px;
      min-height: 234px;
      background:rgba(0,0,0,0.4);
      right: 28.6%;
      top: 30%;
      box-sizing: border-box;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      z-index: 1000;
      .product-title {
        color: #ffffff !important;
        .narrowerThanSmall({
          color: #333333 !important;
        });
      }
      .product-sub-title {
        color: #ffffff !important;
        .narrowerThanSmall({
          color: #333333 !important;
        });
      }
      .product-desc {
        color: #ffffff !important;
        margin-top: 20px;
        .narrowerThanSmall({
          color: #999999 !important;
        });
      }

      .narrowerThanSmall({
        position: relative;
        width: 90%;
        max-width: 100%;
        right: 0;
        top: 0;
        padding: 0;
        background: none;
        padding-top: 20%;
        margin-left: auto;
        margin-right: auto;
      });
      
    }

    .img-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      .backgroundCover('views/product/img-product-bg-6.png');
      width: 835px;
      height: 439px;
      z-index: 0;

      .narrowerThanSmall({
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        background-image: none;
        background-image: none;
        padding-bottom: 10%;
        padding-top: 10%;
        width: auto;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        background-image: none;
      });
    }
  }

  .panel-bg-white {
    background: #ffffff;
  }
  .panel-bg-light-grey {
    background: #f8f8f8;
  }
}