@import (reference) '../common.less';

.view-service {
  .service-top-panel {
    position: relative;
    width: 100%;
    height: 568px;
    background: #ffffff;
    overflow: hidden;
    box-sizing: border-box;

    .narrowerThanMedium({
      height: auto;
      padding-bottom: 100px;
    });

    .small-img-container {
      display: none;
      
      .narrowerThanMedium({
        position: relative;
        display: block;
        max-width: 80%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10%;
      });

      .panel-img-small {
        max-width: 100%;
        height: auto;
      }
    }

    .panel-img {
      position: relative;
      display: inline-block;
      width: 841px;
      height: 436px;
      top: 11.1%;
      left: 50%;
      transform: translateX(-50%);
      .background('views/service/img-top-panel.png');

      .narrowerThanXL({
        left: 45%;
      });

      .narrowerThanLG({
        left: 32%;
      });

      .narrowerThanMedium({
        background: none;
        width: 100%;
        height: auto;
        left: 0;
        top: 0;
        transform: none;
        margin-top: 47px;
      });
    }
    .brief-intro {
      position: absolute;
      width: 310px;
      top: 103px;
      left: 646px;
      opacity:0.7;
      // font-family:PingFangSC-Regular;
      .fontFamilyRegular();
      font-size:18px;
      color:#333333;
      text-align:left;

      .narrowerThanMedium({
        position: relative;
        display: block;
        width: 90%;
        height: auto;
        left: 0;
        top: 0;
        margin-left: auto;
        margin-right: auto;
      });
    }
    .separator {
      position: absolute;
      background:#80c6b2;
      width:53px;
      height:3px;
      top: 219px;
      left: 646px;

      .narrowerThanMedium({
        position: relative;
        display: block;
        left: 0;
        top: 0;
        left: 5%;
        margin-top: 20px;
      });
    }
    .brief-intro-en {
      position: absolute;
      width: 310px;
      top: 233px;
      left: 646px;
      opacity:0.7;
      // font-family:PingFangSC-Regular;
      .fontFamilyRegular();
      font-size:12px;
      color:#999999;
      text-align:left;

      .narrowerThanMedium({
        position: relative;
        display: block;
        width: 90%;
        height: auto;
        left: 0;
        top: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
      });
    }
  }
}

.view-service {
  .platform-service-en {
    .panel-wrapper {
      background-image: url('../../assets/views/service/img-platform-service-en.png') !important;
    }
  }
  .platform-service {
    position: relative;
    .panel-wrapper {
      width: 100vw;
      height: 49.9vw;
      .backgroundCover('views/service/img-platform-service.png');
      .icon-our-services {
        position: relative;
        width: 9.42%;
        height: 21.3%;
        .background('views/service/icon-service-light.png');
        top: 25px;
        margin-left: auto;
        margin-right: auto;
        animation:spin 6s linear infinite;

        a {
          display: block;
          width: 100%;
          height: 100%;
        }
  
        .narrowerThanMedium({
          top: 10.2%;
          width: 24.1%;
          height: 46.26%
        });
      }
  
      .narrowerThanMedium({
        width: 100vw;
        height: 58.8vw;
        background-image: url('../../assets/views/service/img-platform-service-small.png') !important;
        background-size: cover;
      });
  
      .panel-title {
        display: none;
  
        .narrowerThanMedium({
          display: block;
          width: 100%;
          // font-family:PingFangSC-Medium;
          .fontFamilyMedium();
          font-size:22px;
          color:#ffffff;
          text-align:center;
          // margin-top: 80px;
          margin-top: 12.7%;
        });
      }

      .click-area {
        position: absolute;
        width: 7.0vw;
        height: 7.0vw;
        cursor: pointer;

        .narrowerThanMedium({
          display: none;
        });
      }
      .area-1 {
        top: 19vw;
        left: 33vw;
      }
      .area-2 {
        top: 19vw;
        right: 33vw;
      }

      .area-3 {
        top: 27vw;
        left: 39.5vw;
      }
      .area-4 {
        top: 27vw;
        right: 39.5vw;
      }

      .area-5 {
        top: 35vw;
        left: 32.5vw;
      }
      .area-6 {
        top: 35vw;
        left: 46.5vw;
      }
      .area-7 {
        top: 35vw;
        right: 32.5vw;
      }
    }

    .small-panel-container {
      display: none;
      .narrowerThanMedium({
        display: block;
      });

      .container-row {
        border-bottom:1px solid #e4e4e4;
      }
      
      .service-unit {
        position: relative;
        height: 150px;
      }

      .unit-container {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;

        .unit-icon {
          margin-left: auto;
          margin-right: auto;
          // margin-bottom: 35px;
        }

        .unit-title {
          width: 100%;
          // font-family:PingFangSC-Semibold;
          .fontFamilySemibold();
          font-size:16px;
          color:#333333;
          text-align: center;
        }
      }

      .service-1 {
        .unit-icon {
          width: 88px;
          height: 88px;
          // width: 44px;
          // height: 44px;
          .background('views/service/icon-service-1.png');
          background-size: 50% 50% !important;
          background-position: center center;
        }
      }

      .service-2 {
        .unit-icon {
          width: 100px;
          height: 100px;
          .background('views/service/icon-service-2.png');
          background-size: 50% 50% !important;
          background-position: center center;
        }
      }

      .service-3 {
        .unit-icon {
          width: 93px;
          height: 93px;
          .background('views/service/icon-service-3.png');
          background-size: 50% 50% !important;
          background-position: center center;
        }
      }

      .service-4 {
        .unit-icon {
          width: 102px;
          height: 108px;
          .background('views/service/icon-service-4.png');
          background-size: 50% 50% !important;
          background-position: center center;
        }
      }

      .service-5 {
        .unit-icon {
          width: 92px;
          height: 92px;
          .background('views/service/icon-service-5.png');
          background-size: 50% 50% !important;
          background-position: center center;
        }
      }

      .service-6 {
        .unit-icon {
          width: 103px;
          height: 103px;
          .background('views/service/icon-service-6.png');
          background-size: 50% 50% !important;
          background-position: center center;
        }
      }

      .service-7 {
        .unit-icon {
          width: 103px;
          height: 103px;
          .background('views/service/icon-service-7.png');
          background-size: 50% 50% !important;
          background-position: center center;
        }
      }

    }
  }
}

.view-service {
  .product-white-panel {
    width: 100%;
    height: 345px;
    background: #ffffff;
  }
  .panel-icon {
    position: relative;
    width: 181px;
    height: 204px;
    top: 70.5px;
    margin-left: auto;
    margin-right: auto;
    .background('views/service/icon-service-dark.png');
    animation:spin 6s linear infinite;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.view-service {
  .platform-characteristic {
    width: 100%;
    height: 600px;
    .backgroundCover('views/service/img-platform-characteristic.png');
    overflow: hidden;

    .narrowerThanMedium({
      height: auto;
      min-height: 1000px;
    });

    .left-panel,
    .right-panel {
      position: relative;
      height: 100%;

      .narrowerThanMedium({
        height: auto;
      });
    }

    .left-panel {
      .narrowerThanMedium({
        padding-top: 23.3%;
      });
    }

    .right-panel {
      .narrowerThanMedium({
        padding-top: 10.5%;
        padding-bottom: 10.5%;
      });
    }

    .panel-title {
      position: absolute;
      // font-family:PingFangSC-Semibold;
      .fontFamilySemibold();
      font-size:36px;
      color:#ffffff;
      padding-left: 45%;
      top: 12%;

      .narrowerThanMedium({
        position: relative;
        width: 100%;
        text-align: center;
        padding-left: 0;
        top: -10%;
      });
    }

    .four-selector-round {
      position: relative;
      display: inline-block;
      float: right;
      width: 370px;
      height: 370px;
      top: 23.3%;

      .narrowerThanMedium({
        display: block;
        float: none;
        margin-left: auto;
        margin-right: auto;
        top: 0;
      });

      .iphone5Screen({
        width: 300px;
        height: 300px;
      });

      .center-round {
        position: absolute;
        width: 54px;
        height: 54px;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        .background('views/service/icon-shance-round.png');
      }
      .selector-rectangle {
        position: absolute;
        width: 183px;
        height: 183px;

        .iphone5Screen({
          width: 148px;
          height: 148px;
        });

        .title-container {
          position: relative;
          display: inline-block;
          width: auto;
          height: auto;
          top: 50%;
          left: 50%;
          transform: translate3d(-50%, -50%, 0);
          cursor: pointer;
        }

        .selector-title {
          // font-family:PingFangSC-Semibold;
          .fontFamilySemibold();
          font-size:36px;
          color:#333333;
          letter-spacing:1px;
          text-align: center;
          opacity: 1 !important;
          cursor: pointer;

          .iphone5Screen({
            font-size:32px;
          });
        }
        .selector-sub-title {
          // font-family:HelveticaInseratLTStd-Roman;
          .fontFamilyRegular();
          font-size:24px;
          color:#333333;
          letter-spacing:3px;
          line-height:38px;
          text-align:center;
          opacity: 1 !important;
          cursor: pointer;

          .iphone5Screen({
            font-size:16px;
            line-height:32px;
          });
        }
      }

      .rectangle-orange {
        .background('views/service/icon-rectangle-orange.png');
      }
      .rectangle-transparent {
        .background('views/service/icon-rectangle-transparent.png');
      }

      .selector-1,
      .selector-3 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
      .selector-3 {
        bottom: 0;
      }

      .selector-2,
      .selector-4 {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      .selector-2 {
        right: 0;
      }

      .selector-4 {
        .selector-sub-title {
          font-size:14px !important;
          letter-spacing:2px !important;

          .iphone5Screen({
            letter-spacing:0.5px !important;
          });
        }
      }
    }

    .characteristic-content {
      position: relative;
      float: left;
      width: 319px;
      height: 498px;
      left: 10%;
      top: 10.5%;
      .background('views/service/img-characteristic-content.png');

      .narrowerThanMedium({
        top: 0;
        left: 0;
        width: 95%;
        max-width: 319px;
        float: none;
        margin-left: auto;
        margin-right: auto;
        padding-top: 35px;
      });
      
      .content-text {
        height: 432px;
        padding-left: 34px;
        padding-right: 34px;
        // font-family:PingFangSC-Regular;
        .fontFamilyRegular();
        font-size:12px;
        color:#333333;
        text-align:left;
        line-height: 27px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 35px;
        overflow: scroll;

        .narrowerThanMedium({
          margin-top: 0;
          height: 498px;
        });
      }
    }

  }
}

.view-service {
  @keyframes spin {
		from {
      -webkit-transform: rotate(0deg);
      transform:rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
      transform:rotate(360deg);
    }
  }
}

.service-dialog {
  background: none !important;
  .narrowerThanMedium({
    background: rgba(0, 0, 0, .8) !important;
  });


  .tingle-modal-box {
    background:rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 4px -3px 10px 0px rgba(50, 50, 50, 0.6);
    -moz-box-shadow:    4px -3px 10px 0px rgba(50, 50, 50, 0.6);
    box-shadow:         4px -3px 10px 0px rgba(50, 50, 50, 0.6);
    border-radius:11px;

    .narrowerThanMedium({
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
    });
  }

  .close-sign {
    position: absolute;
    width: 20px;
    height: 20px;
    .background('views/service/icon-close-sign.png');
    top: 20px;
    right: 20px;
    cursor: pointer;

    .narrowerThanMedium({
      width: 20px;
      height: 20px;
    });
  }
  .dialog-title {
    // font-family:PingFangSC-Medium;
    .fontFamilyMedium();
    font-size:22px;
    color:#333333;
    text-align:center;

    .narrowerThanMedium({
      font-size:28px;
    });
  }
  .dialog-content {
    // font-family:HiraKakuPro-W3;
    .fontFamilyRegular();
    font-size:16px;
    color:#666666;
    text-align:left;
    margin-top: 40px;

    .narrowerThanMedium({
      font-size:16px;
    });
  }
}