@imgPath: '../assets';

.background(@picName) {
  background: url('@{imgPath}/@{picName}') 0 0 no-repeat;
  background-size: 100% 100%;
}

.backgroundCover(@picName) {
  background: url('@{imgPath}/@{picName}') no-repeat center center;
  background-size: cover;
}

.smallThanMedium(@rules) {
  @media screen and (max-width: 64em)	 {
    @rules();
  }
}