@imgPath: '../assets';

.background(@picName) {
  background: url('@{imgPath}/@{picName}') 0 0 no-repeat;
  background-size: 100% 100%;
}

.backgroundCover(@picName) {
  background: url('@{imgPath}/@{picName}') no-repeat center center;
  background-size: cover;
}


.narrowerThanSmall(@rules) {
  @media screen and (max-width: 35.5em)	 {
    @rules();
  }
}

.narrowerThanMedium(@rules) {
  @media screen and (max-width: 48em)	 {
    @rules();
  }
}

.narrowerThanLG (@rules) {
  @media screen and (max-width: 64em)	 {
    @rules();
  }
}

.narrowerThanXL (@rules) {
  @media screen and (max-width: 80em)	 {
    @rules();
  }
}


.widerThanXL (@rules) {
  @media screen and (min-width: 80em)	 {
    @rules();
  }
}

.narrowerThanIphone6(@rules) {
  @media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 414px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation : portrait) {
    @rules();
  }
}

.iphone5Screen(@rules) {
  @media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 568px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation : portrait) {
    @rules();
  }
}

.iphone6Screen(@rules) {
  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    @rules();
  }
}

.iphone6PlusScreen(@rules) {
  @media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    @rules();
  }
}

.fontFamilyLight() {
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFangSC-Light", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.fontFamilyRegular() {
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFangSC-Regular", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.fontFamilyMedium() {
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFangSC-Medium", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.fontFamilySemibold() {
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFangSC-Semibold", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}