@imgPath: '../../assets/components/Footer';

.footer {
  position: relative;
  width: 100%;
}

.footer {
  .footer-top {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
  }
}
.footer {
  .footer-middle {
    width: 100%;
    min-height: 334px;
    background-image: url('@{imgPath}/img-footer-middle.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-sizing: border-box;
    padding-bottom: 10px;
    .info-row {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;

      .info-unit {
        display: inline-block;
        width: 250px;
        font-size: 14px;
        color: #ffffff;
        text-align: center;
        vertical-align: top;
        margin-top: 55px;

        .unit-icon {
          position: relative;
          width: 48px;
          height: 48px;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 20px;
        }
      }

      .left-unit {
        .unit-icon {
          background-image: url('@{imgPath}/icon-location.png');
          background-size: 100% 100%;
        }
      }

      .mid-unit {
        margin-left: 40px;
        margin-right: 40px;

        .unit-icon {
          background-image: url('@{imgPath}/icon-email.png');
          background-size: 100% 100%;
        }
      }

      .right-unit {
        .unit-icon {
          background-image: url('@{imgPath}/icon-tel.png');
          background-size: 100% 100%;
        }
      }
    }

    .icon-wechat-logo {
      position: relative;
      margin-top: 35px;
      width: 18px;
      height: 15px;
      background-image: url('@{imgPath}/icon-wechat-logo.png');
      background-size: 100% 100%;
      margin-left: auto;
      margin-right: auto;
    }

    .icon-QR-code {
      position: relative;
      margin-top: 10px;
      width: 87px;
      height: 87px;
      background-image: url('@{imgPath}/icon-QR-code.png');
      background-size: 100% 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.footer {
  .footer-bottom {
    .text-copyright {
      position: relative;
      display: table;
      width: 100%;
      min-height: 56px;
      background:#333333;
      font-size: 14px;
      color: #999999;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box;

      p {
        display: table-cell; 
        vertical-align: middle; 
        text-align: center; 
      }
    }
  }
}
